<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <title>Registro</title>
</head>

<body>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <header class="card-header">
                        <a href="/" class="float-right btn btn-outline-primary mt-1">Log in</a>
                        <h4 class="card-title mt-2">Registro</h4>
                    </header>
                    <article class="card-body">
                        <form>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label>Nombre </label>
                                    <input type="text" class="form-control" placeholder="">
                                </div> <!-- form-group end.// -->
                                <div class="col form-group">
                                    <label>Usuario</label>
                                    <input type="text" class="form-control" placeholder=" ">
                                </div> <!-- form-group end.// -->
                            </div> <!-- form-row end.// -->
                            <div class="form-group">
                                <label>Correo electronico</label>
                                <input type="email" class="form-control" placeholder="">
                                <small class="form-text text-muted">No compartiremos tu correo con nadie.</small>
                            </div> <!-- form-group end.// -->

                </div> <!-- form-row.// -->
                <div class="form-group">
                    <label>Crear contraseña</label>
                    <input class="form-control" type="password">
                </div> <!-- form-group end.// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Registrar </button>
                </div> <!-- form-group// -->
                <small class="text-muted">Al hacer click en "Registrar", aceptas nuestros
                    <br> Terminos de uso y Politica de privacidad.</small>
                </form>
                </article> <!-- card-body end .// -->
                <div class="border-top card-body text-center">Tienes una cuenta? <a href="/">Logueate</a></div>
            </div> <!-- card.// -->
        </div> <!-- col.//-->

    </div> <!-- row.//-->


    </div>
    <!--container end.//-->
</body>

</html>